.header {
  max-width: 150rem;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.header__meat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 43.75em) {
  .header__meat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 81.25em) {
  .header__meat {
    width: 90%;
    margin: 0 auto;
  }
}

.header__meat ::-moz-selection {
  background-color: cyan;
  color: #333;
}

.header__meat ::selection {
  background-color: cyan;
  color: #333;
}

.header__meat--left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20rem;
}

@media (max-width: 43.75em) {
  .header__meat--left {
    margin-top: 10rem;
    margin-bottom: 7rem;
  }
}

.header__meat--left img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 81.25em) {
  .header__meat--left img {
    width: 40em;
  }
}

@media (max-width: 62.5em) {
  .header__meat--left img {
    width: 30em;
  }
}

.header__meat--right {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-left: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2rem;
  color: #999;
  margin-top: 20rem;
}

@media (max-width: 43.75em) {
  .header__meat--right {
    width: 85%;
    margin-top: 10rem;
  }
}

@media (max-width: 62.5em) {
  .header__meat--right {
    font-size: 1.4rem;
  }
}

.header__meat--right-evan {
  border-bottom: 2px solid cyan;
}

.header__meat--right-evan:hover {
  color: #fff;
  cursor: pointer;
}

.nav {
  overflow: hidden;
  border-bottom: 1px solid #777;
  margin-bottom: 10rem;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #999;
}

.nav__container--items {
  width: 100%;
}

.nav__container--items-ul {
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 0;
}

.nav__container--items-ul li {
  text-align: center;
  font-size: 3rem;
  border-bottom: 2px solid orangered;
  margin-bottom: 5rem;
}

.nav__container--items-ul li:hover {
  color: #fff;
  cursor: pointer;
}

.about {
  width: 100%;
  min-height: 20vh;
  margin-bottom: 20rem;
  border-bottom: 1px solid #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about p {
  font-size: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  margin-bottom: 10rem;
}

@media (max-width: 43.75em) {
  .about p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    font-size: 2rem;
  }
}

@media (max-width: 31.25em) {
  .about p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #222;
}
/*# sourceMappingURL=style..css.map */